/* #cards{
    position: relative;
}
.card{
    position: absolute !important;
    top: 50%;
    left: 50%;
    width: 250px;
    transform: translate(-50%, 10%);
} */

#cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
    margin-inline: 3rem;
    padding-top: 2rem;
}
.card{
    aspect-ratio: 0.6;
    position: relative;
    transition: all 0.25s;
    cursor: pointer;
}
.card:hover{
    transform: translateY(-3%);
}
.card::after{
    content: '';
    position: absolute;
    inset: 0;
    top: -4%;
    bottom: -4%;
    border: 2px solid rgb(45, 45, 45);
    scale: 0.85;
    filter: blur(50%);
    border-radius: 0.5rem;
    clip-path: polygon(0% 15%, 25% 15%, 25% 0%, 100% 0, 100% 85%, 75% 85%, 75% 100%, 0 100%);
}
.card-background{
    position: absolute;
    inset: 0;
    background-color: rgb(255, 242, 214);
    border: 2px solid black;
}
.card::before {
    filter: brightness(85%);
    transform: translate(-3px, 3px);
    border-radius: 1.1rem !important;
}
.card-background::after{
    opacity: 0.85;
}
.card::before, .card-background::after{
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../textures/card_1.webp');
    background-size: cover;
    background-position: center;
}
.card-background, .card-background::after, .card::before{
    border-radius: 1rem;
}
.card-markings{
    position: absolute;
    inset: 0;
    z-index: 999;
}
.card-markings::before, .card-markings::after{
    content: '';
    position: absolute;
    width: 15%;
    filter: blur(0.02rem);

    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.card-markings::before{
    top: 3%;
    left: 5%;
}
.card-beast .card-markings::before{
    background-image: url('../icons/beast.webp');
}
.card-human .card-markings::before{
    background-image: url('../icons/hand.webp');
    transform: skew(-5deg) rotate(-25deg);
}
.card-ancient .card-markings::after{
    bottom: 4%;
    right: 5%;
    transform: skew(-5deg) rotate(-15deg);
    background-image: url('../icons/torch.webp');
}
.card-modern .card-markings::after{
    bottom: 4%;
    right: 5%;
    filter: blur(0.03rem);
    transform: skew(-5deg) rotate(15deg);
    background-image: url('../icons/scroll.webp');
}
.card-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-block: 1rem;
}
.card-img {
    position: relative;
    width: 70%;
    aspect-ratio: 0.7;
    border-radius: 50%;
    background-image: url('aquiles.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    box-shadow: 0px 0px 65px 10px black;
    margin-block: 1rem;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 999;
}
.card-img::before{
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 0.25rem black;
}
.card-name, .card-name-banner{
    position: absolute;
    bottom: 2%;
}
.card-name{
    color: black;
    text-align: center;
    font-family: "Almendra";
    font-weight: 600;
    font-size: 1.5rem;

    width: 85%;
    letter-spacing: 0.05rem;
    line-height: 1;
    filter: blur(0.02rem);
    z-index: 999;
}
.card-name.card-name-small{
    font-size: 1rem;
}
.card-name-banner {
    width: 120%;
    height: 3rem;
    scale: 1.25;
    background: url('../textures/banner_1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
    transform: translate(0, 1rem);
}
.card-description{
    color: black;
    font-family: "Berkshire";
    font-size: 1rem;
    font-style: italic;
    border: 1rem solid transparent;
    text-align: center;
    width: 95%;
    z-index: 999;
    height: 3rem;
}
.card-worn-1 .card-background::after{
    background-image: url('../textures/card_1.webp');
}
.card-worn-2 .card-background::after{
    background-image: url('../textures/card_2.webp'); 
}
.card-worn-3 .card-background::after{
    background-image: url('../textures/card_3.webp'); 
}
.card-worn-4 .card-background::after{
    background-image: url('../textures/card_4.webp'); 
}